<span class="anchor" id="newevents"></span>

<ul class="timeline">
    {% for event in __SELF__.newevents %}
  
    <li class="m-b-3">

        <span class="anchor" id ="timeline-event-{{event.id}}"></span>

        <div class="timeline-badge primary">
        </div>


        <div class="timeline-panel">

            {% if event.title %}
                <h4 class="timeline-title m-b-2">
                    {{ event.title }}
                    {% if event.subtitle %}
                        <small class="m-l-1">
                            {{ event.subtitle }}
                        </small>
                    {% endif %}   
                </h4>
            {% endif %}
            <div class="media" style="overflow: hidden">

            {% if event.image %}
                    <img src="{{ event.image.path | app }}" alt="{{ event.image.title }}" class="timeline-image half-width hidden-md-up hidden-xs-down pull-right">
            {% endif %}


                <div class="timeline-info media-left m-b-2">
               
                    <dl class="row">
                    {# Von bis (User) TODO amDateFormat:'dddd Do MMMM YYYY, HH:mm' #}
                    {% if event.date_start %}
                        <dt class="col-xs-3">Zeit</dt>
                        <dd class="col-xs-9">
                            <span>
                                {{ event.date_start | date("d.m.Y, H:i") }} Uhr
                            </span>
                        {% if event.date_end %}
                            bis
                            <span style="white-space: nowrap">
                                {% if ( ( event.date_end | date("D.m.Y") ) == ( event.date_start | date("D.m.Y") ) ) %}
                                    {{event.date_end | date("H:i")}}
                                {% else %}
                                {{ event.date_end | date("d.m.Y, H:i") }} Uhr
                                {% endif %}
                            </span>
                        {% endif %}
                        </dd>
                    {% endif %}

                    {% if event.location %}
                        <dt class="col-xs-3">Ort</dt>
                        <dd class="col-xs-9">
                            <a class="text-muted" href="https://maps.google.com?q={{ event.location }}">
                                {{ event.location }}
                            </a>
                        </dd>
                    {% endif %}  

                    {% if event.person1 or event.person2 or event.person3 or event.person4 or event.person5 or event.person6 %}
                        <dt class="col-xs-3">Sprecher</dt>
                        <dd class="col-xs-9 text-muted">
                        {% if event.person1 %}
                                    {{ event.person1 }}<br>
                        {% endif %}
                        {% if event.person2 %}
                                    {{ event.person2 }}<br>
                        {% endif %}
                        {% if event.person3 %}
                                    {{ event.person3 }}<br>
                        {% endif %}
                        {% if event.person4 %}
                                    {{ event.person4 }}<br>
                        {% endif %}
                        {% if event.person5 %}
                                    {{ event.person5 }}<br>
                        {% endif %}
                        {% if event.person6 %}
                                    {{ event.person6 }}<br>
                        {% endif %}
                        </dd>
                    {% endif %}

                    {% if event.cost_fee %}
                        <dt class="col-xs-3">
                            Kostenbeitrag
                        </dt>
                        <dd class="col-xs-9 text-muted">
                                {{ event.cost_fee }}
                        </dd>
                    {% endif %}

                    </dl>

                </div>


            {% if event.image %}
                <img src="{{ event.image.path | app }}" alt="{{ event.image.title }}" class="timeline-image full-width hidden-sm-up m-y-1">
            {% endif %}
            {% if event.description %}
                <p class="timeline-text m-t-2">{{ event.description }}
                </p>
            {% endif %}
            {% if event.attachment %}
                <p class="m-t-1">
                    <a href="{{event.attachment.path | app}}" class="btn btn-outline-danger"><strong>weitere Informationen</strong></a>
                </p>
            {% endif %}
            </div>
        </div>
    {% if event.image %}
        <img class="timeline-image third-width hidden-sm-down m-t-1" src="{{ event.image.path | app }}" alt="{{ event.image.title }}">
    {% endif %}
    </li>
{% endfor %}
</ul>

<h2><span class="anchor" id="oldevents"></span>Vergangene Veranstaltungen / Archiv</h2>
<hr>

<ul class="timeline">
    {% for event in __SELF__.oldevents %}
    
    <li class="m-b-3">
        <span class="anchor" id ="timeline-event-{{event.id}}"></span>

        <div class="timeline-badge primary">
        </div>


        <div class="timeline-panel">

            {% if event.title %}
                <h4 class="timeline-title m-b-2">
                    {{ event.title }}
                    {% if event.subtitle %}
                        <small class="m-l-1">
                            {{ event.subtitle }}
                        </small>
                    {% endif %}   
                </h4>
            {% endif %}
            <div class="media">

            {% if event.image %}
                    <img src="{{ event.image.path | app }}" alt="{{ event.image.title }}" class="timeline-image half-width hidden-md-up hidden-xs-down pull-right">
            {% endif %}


                <div class="timeline-info media-left m-b-2">
               
                    <dl class="row">
                    {# Von bis (User) TODO amDateFormat:'dddd Do MMMM YYYY, HH:mm' #}
                    {% if event.date_start %}
                        <dt class="col-xs-3">Zeit</dt>
                        <dd class="col-xs-9">
                            <span>
                                {{ event.date_start | date("d.m.Y, H:i") }} Uhr
                            </span>
                        {% if event.date_end %}
                            bis
                            <span class="nowrap">
                                {% if ( ( event.date_end | date("D.m.Y") ) == ( event.date_start | date("D.m.Y") ) ) %}
                                    {{event.date_end | date("H:i")}}
                                {% else %}
                                {{ event.date_end | date("d.m.Y, H:i") }} Uhr
                                {% endif %}
                            </span>
                        {% endif %}
                        </dd>
                    {% endif %}

                    {% if event.location %}
                        <dt class="col-xs-3">Ort</dt>
                        <dd class="col-xs-9">
                            <a class="text-muted" href="https://maps.google.com?q={{ event.location }}">
                                {{ event.location }}
                            </a>
                        </dd>
                    {% endif %}  

                    {% if event.person1 or event.person2 or event.person3 or event.person4 or event.person5 or event.person6 %}
                        <dt class="col-xs-3">Sprecher</dt>
                        <dd class="col-xs-9 text-muted">
                        {% if event.person1 %}
                                    {{ event.person1 }}<br>
                        {% endif %}
                        {% if event.person2 %}
                                    {{ event.person2 }}<br>
                        {% endif %}
                        {% if event.person3 %}
                                    {{ event.person3 }}<br>
                        {% endif %}
                        {% if event.person4 %}
                                    {{ event.person4 }}<br>
                        {% endif %}
                        {% if event.person5 %}
                                    {{ event.person5 }}<br>
                        {% endif %}
                        {% if event.person6 %}
                                    {{ event.person6 }}<br>
                        {% endif %}
                        </dd>
                    {% endif %}

                    {% if event.cost_fee %}
                        <dt class="col-xs-3">
                            Kostenbeitrag
                        </dt>
                        <dd class="col-xs-9 text-muted">
                                {{ event.cost_fee }}
                        </dd>
                    {% endif %}

                    </dl>

                </div>


            {% if event.image %}
                <img src="{{ event.image.path | app }}" alt="{{ event.image.title }}" class="timeline-image full-width hidden-sm-up m-y-1">
            {% endif %}
            {% if event.description %}
                <p class="timeline-text m-t-2">{{ event.description }}
                </p>
            {% endif %}
            {% if event.attachment %}
                <p class="m-t-1">
                    <a href="{{event.attachment.path | app}}" class="btn btn-outline-danger"><strong>weitere Informationen</strong></a>
                </p>
            {% endif %}
            </div>
        </div>
    {% if event.image %}
        <img class="timeline-image third-width hidden-sm-down m-t-1" src="{{ event.image.path | app }}" alt="{{ event.image.title }}">
    {% endif %}
    </li>
{% endfor %}
</ul>