<ul class="timeline">
    {# TODO orderBy:'from' #}
    {% for event in __SELF__.events %}
  
        <li class="{% if loop.index is divisible by(2) %} timeline-inverted {% endif %}">
            {# Timeline type #}
            
            {# Vortrag #}
            {% if event.type == 1 %}
                <div class="timeline-badge success">
                    <i class="fa fa-graduation-cap"></i>
                </div>
    
            {# Podiumsdisskusion #}
            {% elseif event.type == 2 %}
                <div class="timeline-badge warning">
                    <i class="fa fa-users"></i>
                </div>
    
            {# Reise #}
            {% elseif event.type == 3 %}
                <div class="timeline-badge primary">
                    <i class="fa fa-ship"></i>
                </div>
    
            {# Information #}
            {% elseif event.type == 4 %}
                <div class="timeline-badge info">
                    <i class="fa fa-info"></i>
                </div>
                
    
            {# Schifffahrtsessen #}
            {% elseif event.type == 5 %}
                <div class="timeline-badge danger">
                    <i class="fa fa-cutlery"></i>
                </div>
                
            {# Anderes #}
            {% else %}
                <div class="timeline-badge">
                    <i class="fa fa-square"></i>
                </div>
    
            {% endif %}


            <div class="anchor-static-navbar" id="event_{{event.id}}"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                
                    {% if event.title %}
                        <h4 class="timeline-title">
                            {{ event.title }}
                            {% if event.subtitle %}
                                <small>
                                    {{ event.subtitle }}
                                </small>
                            {% endif %}   
                        </h4>
                    {% endif %}
                    
                    {% if event.person1 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person1 }}
                            </span>
                        </p>
                    {% endif %}
                    {% if event.person2 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person2 }}
                            </span>
                        </p>
                    {% endif %}
                    {% if event.person3 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person3 }}
                            </span>
                        </p>
                    {% endif %}
                    {% if event.person4 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person4 }}
                            </span>
                        </p>
                    {% endif %}
                    {% if event.person5 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person5 }}
                            </span>
                        </p>
                    {% endif %}
                    {% if event.person6 %}
                        <p class="text-muted">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ event.person6 }}
                            </span>
                        </p>
                    {% endif %}



                    {# Von bis (User) TODO amDateFormat:'dddd Do MMMM YYYY, HH:mm' #}
                    {% if event.date_start %}
                        <p class="text-muted">
                            <i class="fa fa-clock-o"></i>
                            <span>
                                {{ event.date_start | date("d.m.Y, H:i") }} Uhr
                            </span>
                            {% if event.date_end %}
                                <span>
                                    bis {{ event.date_end | date("d.m.Y, H:i") }} Uhr
                                </span>
                            {% endif %}   
                        </p>
                    {% endif %}
                    
                    {% if event.location %}
                        <p class="text-muted">
                            <i class="fa fa-home"></i>
                            <a href="https://maps.google.com?q={{ event.location }}">
                                {{ event.location }}
                            </a>
                        </p>
                    {% endif %}  
                </div>
                <div class="timeline-body">
                    {% if event.image %}
                        <img src="{{ event.image.path | app }}" alt="{{ event.image.title }}" class="img-responsive center-block m-t-1">
                    {% endif %}
                    {% if event.description %}
                        <p class="p-x-1">
                            {{ event.description }}
                        </p>
                    {% endif %}  
                    {% if event.attachment %}
                        <p class="m-x-1">
                            <a href="{{event.attachment.path | app}}" class="btn btn-info">Weitere Informationen</a>
                        </p>
                    {% endif %}  
                </div>
            </div>
        {% endfor %}
    </li>
</ul>